@model BookStore.DO.Entities.Rate[][]
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rating</h2>
<table class="table">
    @for (int i=0;i<Model.GetLength(0);i++)
    {
        <tr>
            @for (int j = 0; j < Model[i].Length; j++)
            {
                <td>@Model[i][j].RateValue</td>
            }
        </tr>
    }
</table>
