@model float[,]
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rating</h2>
<table class="table">
    @for (int i=0;i<Model.GetLength(0);i++)
    {
        <tr>
            @for (int j = 0; j < Model.GetLength(1); j++)
            {
                <td>@Model[i,j]</td>
            }
        </tr>
    }
</table>
<h1>Result</h1>
<table class="table">
    @for (int i = 0; i < ViewBag.Result.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.Result.GetLength(1); j++)
            {
                <td>@ViewBag.Result[i, j]</td>
            }
        </tr>
    }
</table>