@model Gapi.Search.SearchResult[]

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>
@foreach (Gapi.Search.SearchResult res in @Model)
{
    <a href="@res.Url">@res.Title</a>
}
          