@using BookStore.HtmlHelpers
@model IEnumerable<string>
@{
    ViewBag.Title = "FindImages";
    Layout = null;

}
@{
    int Id = (int) ViewData["ID"];
    string types = ((BookStore.Models.TypeSearch)ViewData["Type"]).ToString();
}
<h2>Найденные изображения</h2>
@foreach (var result in @Model)
{
    <span class="search">
       <img src="@result" alt="Found book's cover" onclick="return saveImage($(this),@Id,'@types')" class=" bookcover" /> 
    </span>
}

    