@model IEnumerable<string>
@{
    ViewBag.Title = "FindBookImages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
     
}
<h2>Finded</h2>
@foreach (string result in @Model)
{
    <span class="findedimages">       
        @Ajax.ActionLink("Save", "SaveBookImage", "Admin", new { imageUrl = result, bookID = (int)ViewData["BookID"]  }, new AjaxOptions { UpdateTargetId = "search", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
        <img class="thumbnail" src=@result>
    </span>
}

