@model List<string>

@{
    ViewBag.Title = "Find Information";
    Layout = null;
}

<h2>Найденные аннотации</h2>
@foreach (string result in @Model)
{
    <span class="search">
        <p class="description" onclick="return SaveDesc($(this))">@result</p>
    </span>
}