@using BookStore.HtmlHelpers
@model IEnumerable<string>
@{
    ViewBag.Title = "FindBookImages";
    Layout = null;

}
<h2>Finded Images</h2>
@foreach (string result in @Model)
{
    <span class="search">
        @Ajax.ImageActionLink("SaveBookImage", result, (int)ViewData["BookID"], new AjaxOptions { UpdateTargetId = "edit", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
        
    </span>
}

