@model List<string>
@using BookStore.HtmlHelpers

@{
    ViewBag.Title = "FindBookAnnotation";
    Layout = null;
}

<h2>FindBookAnnotation</h2>
@foreach (string result in @Model)
{
    <span class="search">
        @Ajax.ActionLink(
        result.Substring(0,255),
        "SaveAnnotation",
        "Admin",
        new { annotation = @result, bookId = (int)ViewData["BookID"] },
        new AjaxOptions { UpdateTargetId = "edit", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })
    </span>
}