@model Gapi.Search.SearchResults
@{
    ViewBag.Title = "FindBookImages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
     
}
<h2>Finded</h2>
@foreach (Gapi.Search.SearchResult result in @Model.Items)
{
    <span class="findedimages">       
        @Ajax.ActionLink("Save", "Edit", "Admin", new { bookID = (int)ViewData["BookID"], image_url = result.Url }, new AjaxOptions { UpdateTargetId = "search", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
        <img class="thumbnail" src=@result.Url>
    </span>
}

