//colors
$color_tundora_approx: #444;
$color_woodsmoke_approx: #111;
$gray: gray;
$silver: silver;
$color_storm_dust_approx: #666;
$color_tuatara_approx: #353535;
$color_alto_approx: #ddd;
$red: #f00;
$color_fair_pink_approx: #fee;
$color_japanese_laurel_approx: green;

//fonts
$font_0: Cambria;
$font_1: Georgia;
$font_2: Times New Roman;

body {
    font-family: $font_0, $font_1, $font_2;
    margin: 0;

    .alphabet {
        background-color: Menu;
        border-bottom: dotted 1px slategray;
    }
}

.header {
    padding: 10px;

    h1 {
        display: inline;
    }

    display: block;
    background-color: #444;
    border-bottom: 2px solid $color_woodsmoke_approx;
    color: White;

    input {
        color: $color_tuatara_approx;
    }
}

footer {
    display: block;
}

nav {
    display: block;
}

section {
    display: block;
}

DIV {
    &.content {
        border-left: 2px solid $gray;
        padding: 1em;
    }

    &.itemb {
        border-top: 1px dotted $gray;
        padding-top: .3em;
        margin-bottom: .5em;

        &:first-child {
            border-top: none;
            padding-top: 0;
        }
    }

    &.pager {
        text-align: right;
        border-top: 2px solid $silver;
        padding: .5em 0 0 0;
        margin-top: 1em;
        width:100%;
        display:block;

        A {
            font-size: 1.1em;
            color: $color_storm_dust_approx;
            text-decoration: none;
            padding: 0 .4em 0 .4em;
            display:inline-block;
            &:hover {
                background-color: Silver;
            }
        }
    }
}

fieldset {
    border: 1px solid $color_alto_approx;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.field-validation-error {
    color: $red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid $red;
    background-color: $color_fair_pink_approx;
}

.validation-summary-errors {
    font-weight: bold;
    color: $red;
}

.validation-summary-valid {
    display: none;
}

.itemb {
    margin: 10px;
    padding: 2px;
    border-bottom: 2px dotted;
    border-bottom-color: #444;

    .title {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
    }

    .author {
        font-family: 'Book Antiqua';
        font-size: 30px;
        color:$color_tuatara_approx;
        &:hover{
            text-decoration:none;
            color:$color_storm_dust_approx;
        }
    }

    .price {
        text-align: right;
        font-size: 16px;
    }

    .annotation {
        font-size: 16px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .genre {
        font-size: 14px;
        display:inline-block;
        margin:6px;
    }

    .image {
        img {
            max-height: 250px;
            //max-width: 250px;
        }
    }

    .tags {
        a {
            color: black;
            font-family: 'Book Antiqua';
            text-decoration: none;
            text-decoration-color: slategray;
            margin: 6px;

            &:hover {
                // background-color: Silver;
                text-decoration: underline;
            }
        }
    }

    .detailBox {
        width: 100%;
        //border: 1px solid #bbb;
        margin: 50px;
    }

    .titleBox {
        background-color: #fdfdfd;
        padding: 10px;

        label {
            color: #444;
            margin: 0;
            display: inline-block;
        }
    }

    .commentBox {
        padding: 10px;
        border-top: 1px dotted #bbb;
    }


    .actionBox {
        //border-top: 1px dotted #bbb;
        padding: 10px;
    }

    .taskDescription {
        margin-top: 10px 0;
    }

    .commentList {
        padding: 0;
        list-style: none;
        max-height: 200px;
        overflow: auto;

        li {
            margin: 0;
            margin-top: 10px;
            border-radius: 5px;
            background-color: Menu;

            div {
                display: table-cell;
            }
        }
    }

    .commenterImage {
        width: 30px;
        margin: 5px;
        height: 100%;
        float: left;

        img {
            width: 30px;
            border-radius: 50%;
        }
    }

    .sub-text {
        color: #aaa;
        font-family: verdana;
        font-size: 11px;
    }

    .commentText p {
        margin: 0;
    }

    .form-group {
        .btn {
            margin: 5px;
        }
    }
}

DIV.pager A.selected {
    background-color: $color_tuatara_approx;
    color: White;
}

.user {
    .btn {
        margin: 4px;
    }
}

.pagination {
    margin: 8px 0 0 0 !important;
}

.bookheader {
    margin: 2px;
    padding: 2px;
    border-bottom: 1px dotted;
    border-bottom-color: silver;
    border-radius: 10px;
    background-color: whitesmoke;
    &:hover{
        background-color:$color_alto_approx;
    }
    .signature {
        //text-align:right;
        margin-left: 1px;
        // width: 80%;
        .title {
            font-family: 'Book Antiqua';
            font-size: 16px;
            color: InactiveCaptionText;
        }

        .author {
            font-family: 'Book Antiqua';
            color: $color_storm_dust_approx;
            font-size: 14px;
        }

        .rate {
            float: right;
            text-align: right;
            font-size: 20px;
        }
    }

    .like-rate {
        // width: 20%;
        .price {
            text-align: right;
            font-size: 12px;
        }
    }

    p {
        display: inline-flex;
        margin-right: 10px;
    }

    .smallimage {
        margin-right: 0px;
        
        img {
            max-height: 70px;
            max-width: 70px;
        }
    }
}


.accordion {
    margin-bottom: 20px;
}

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion-heading {
    border-bottom: 0;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

.user {
    .accordion-toggle {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        text-decoration: none;
    }

    .name {
        p {
            display: inline-flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 45px;
        }
    }
    .email{
        p {
            display: inline-flex;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
        }
    }

    .favAvtors {
        p {
            display: inline-block;
        }
    }

    .rateBook {
        p {
            margin-top:30px;
            text-align: center;
        }
    }
}
.typeahead{
    width:500px;
    float:right;
}
.input-group {
	span.twitter-typeahead {
		display: block !important;
		.tt-dropdown-menu {
			top: 32px !important;
		}
	}
	&.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
		top: 44px !important;
	}
	&.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
		top: 28px !important;
	}
}
span.twitter-typeahead {
	width: 100%;
}

.author{
    .name {
        p {
            display: inline-flex;
            font-family: 'Book Antiqua';
            color: $color_storm_dust_approx;
            font-size: 40px;
        }
    }
    .biography{        
        font-size: 12px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    }
}
