@model IEnumerable<string>
<ul class="nav nav-pills nav-stacked">
    @foreach (var link in Model)
    {
        if (link != null)
        {
            <li role="presentation"
                @if (ViewBag.SelectedAuthor == link) { @: class="active "
                                                                                                                                                  }>
                @Html.RouteLink(link, new
                {
                    controller = "Book",
                    action = "ListByAuthor",
                    author = link,
                    page = 1
                }, new { @class = "author-list" })
            </li>
        }
    }
</ul>
