@model IEnumerable<string>
<ul class="nav nav-pills nav-stacked">
    <li role="presentation">@Html.ActionLink("Home", "List", "Book")</li>
    @foreach (var link in Model)
    {
        if (link != null)
        {
            <li role="presentation"
                @if (ViewBag.SelectedGenre == link) { @: class="active "
                                                                                                                                  }>
                @Html.RouteLink(link, new
                {
                    controller = "Book",
                    action = "ListByGenre",
                    genre = link,
                    page = 1
                },new{@class="genre-list"})
            </li>
        }
    }
</ul>

