
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#genres">
                +
            </a>
            <a>Художественная литература </a>
        </div>
        <div id="genres" class="accordion-body collapse">
            <div class="accordion-inner">
                @{Html.RenderAction("Genres");}
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#authors">
                Авторы
            </a>
        </div>
        <div id="authors" class="accordion-body collapse">
            <div class="accordion-inner">
                @{Html.RenderAction("Authors");}
            </div>
        </div>
    </div>
</div>







